# Node.js dependencies
node_modules/

# Next.js build output
.next/
out/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE settings
.vscode/
.idea/

# Misc
*.log
